<div class="navbar">
    <a class="main" href="<%= root_path %>">MembersOnly!</a>

    <% if user_signed_in? %>
        <a href="<%= new_post_path %>">New Story</a>
        <a href="/my_posts">My Stories</a>
        <a href="<%= edit_user_registration_path %>">Edit Account</a>
        <a href="<%= destroy_user_session_path %>" style="margin-left: auto;" data-turbo-method="delete">Sign out</a>
    <% else %>
        <a href="<%= new_user_session_path %>">Login</a>
        <a href="<%= new_user_registration_path %>">Register</a>
    <% end %>
</div>