<h2>Create new post</h2>

<% if @post.errors.any? %>
    <div class="form-errors">
        <ul>
            <% @post.errors.each do |error| %>
                <li><%= error.full_message %></li>
            <% end %>
        </ul>
    </div>
<% end%>

<%= form_with model: @post do |form| %>
    <%= form.label :title, "Title:" %>
    <%= form.text_field :title, placeholder: "My best strory ever!" %>

    <br /><br />

    <%= form.label :body, "Body:" %>
    <%= form.text_area :body %>

    <br /><br />

    <%= form.submit %>
<% end %>